#name
{
    font-family: "Courier New", sans-serif;
    color: #ADD8E6;
    margin-left: 500px;
}

#welcome
{
    font-family: "Courier New", sans-serif;
    color: #ADD8E6;
    margin-left: 275px;
}

img
{
  width: 550px;
  height: 380px;
  margin-left: 320px;
}

body
{
  background-color: #CD5C5C;
}

#button
{
  display: block;
  width: 200px;
  height: 100px;
  margin-left: 510px;
  margin-bottom: 50px;
  font-family: "Courier New", sans-serif;
  font-size: 100%;

}
