aside
{
  position: absolute;
  z-index: -1;
  font-family: "Courier New", sans-serif;
  font-size: 15px;
  color: #ADD8E6;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px 10px 10px 10px;
  height: 100px;
  width: 200px;
}


#name
{
    font-family: "Courier New", sans-serif;
    color: #ADD8E6;
    text-align: center;
*/}

#welcome
{
    font-family: "Courier New", sans-serif;
    color: #ADD8E6;
    text-align: center;
    padding: 10px 350px 5px 350px;

}

img
{
  display: block;
  width: 550px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;


}

body
{
  background-color: #CD5C5C;
}

#button
{
  display: block;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  font-family: "Courier New", sans-serif;
  font-size: 100%;


}
#bio {
  font-family: "Courier New", sans-serif;
  color: white;
  font-size: 100%;
  padding: 10px 350px 50px 350px;
}
